//text, titles

$text-black: #000;
$text-dark: #3e382c;
$grey:#696969;
$grey-light: #878787;
$grey-select: #989898;
$grey-nav: #8e8e8e;
$orange-nav: #e78e13;

// color
$grey-lighter: #ebeaea;
$grey-tab:#ededed;
$orange: #ffcf8c;

$orange-dark: #f2ae52;
$orange-arrow: #f5b55e;
$white: #fff;
$grey-e7: #e7e7e7;
$grey-91: #919191;
$grey-e5: #e5e5e5;
$grey-eb: #ebebeb;
$accordeon-border: #f1f1f1;
$input-hover: #656056;
$form-descr: #9e9b95;
$grey-slider-border: #dcdcdc;
$orange-slider-border: #f7c27a;
$quality-color: #f5d6a9;
$light-pink: #fff8ee;


$red: #ec4040;
$red-title: #e5571f;
// ordering
$ord-borderbott: #e4e4e4;
$grey-btn: #d9d9d9;

