

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #5A5A5A;
    line-height: 140%;
    letter-spacing: 0.02em;
}
@media(min-width:1550px){
    .container{
        max-width: 1542px;
    }
}
a {
    cursor: pointer;
}
a,
a:hover {
    @include transition(0s);
    outline: none;
}

button {
    outline: none;
}
h4{
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 120%;
    text-align: center;
    color: #464646;
}